header {
  height: 60px;
}

select {
  margin-left:20px;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  padding-bottom: 20px;
}

img {
  width: 300px;
  height: auto;
}

#result-picard, #result-barclay, #result-janeway, #result-riker, #result-harryKim {
  display: none;
}